# LAB - 4
## Data Visualization
---
    Aryan Tiwari
    B20AI056

---

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# sns.set_palette(sns.color_palette("Set2"))

In [3]:
collegedata = pd.read_csv("MergerdAyush_Colleges_in_India_01-04-2021_0.csv")
collegedata.head()

,State or Union Territory,Type of System,No. of Colleges - Govt,Admission Capacity - Govt,Permitted Seats - Govt,No. of Colleges - Non-Govt,Admission Capacity - Non-Govt,Permitted Seats - Non-Govt
0,Andhra Pradesh,Ayurveda,1,100,100,2,176,118
1,Assam,Ayurveda,1,93,93,0,0,0
2,Bihar,Ayurveda,2,211,211,6,280,153
3,Chhattisgarh,Ayurveda,2,216,216,4,280,250
4,Delhi,Ayurveda,3,359,359,0,0,0

In [4]:
agriculturedata = pd.read_csv("Production_of_Agriculture_Stock-Ministry_of_Finance.csv")
agriculturedata.head()

,Particulars,Frequency,Unit,9-2013,10-2013,11-2013,12-2013,1-2014,2-2014,3-2014,4-2014,5-2014,6-2014
0,Foodgrains,Monthly,Ton mn,59.24,62.68,59.69,58.37,55.91,52.48,48.39,63.06,69.85,65.34
1,Foodgrains Rice,Monthly,Ton mn,19.03,16.85,14.22,14.70,16.94,18.88,20.28,20.42,20.65,21.24
2,Foodgrains Unmilled Paddy in term of Rice,Monthly,Ton mn,4.11,11.73,14.41,15.62,14.77,12.76,10.28,8.24,7.61,4.30
3,Foodgrains Wheat,Monthly,Ton mn,36.10,34.10,31.07,28.05,24.20,20.84,17.83,34.40,41.59,39.80

In [5]:
roaddata = pd.read_csv("Road_Transport_BRS_2017-18_Annexure7_9c.csv")
roaddata.head()

,Name of the States,National Highways,State Highways,District Roads,Rural Roads,Urban Roads,Project Roads,Total road Length,Total Population,Road length per '000 pop,Road length per '000 Population - National Highways,Road length per '000 Population - State Highways,Road length per '000 Population - District Roads,Road length per '000 Population - Rural Roads,Road length per '000 Population - Urban roads,Road length per '000 Population - Project Roads
0,Andhra Pradesh,10207,15753,58083,217892,34878,9447,346260,84581,4.09,0.12,0.19,0.69,2.58,0.41,0.11
1,Arunachal Pradesh,2537,13500,8731,20807,56,4924,50555,1384,36.54,1.83,9.76,6.31,15.04,0.04,3.56
2,Assam,3909,2530,6093,303672,5603,21803,343609,31206,11.01,0.13,0.08,0.20,9.73,0.18,0.70
3,Bihar,4877,4006,11145,258800,9184,2559,290571,104099,2.79,0.05,0.04,0.11,2.49,0.09,0.02
4,Chhattisgarh,3592,4176,11965,54308,12765,15772,102578,25545,4.02,0.14,0.16,0.47,2.13,0.50,0.62